<header class="page-header pt-5 mb-5">
  <h1 class="page-header__title display-1"><%= title %></h1>

  <% if (locals.subtitle) { %>
    <p class="page-header__subtitle"><%= subtitle %></p>
  <% } %>
</header>